# --- Python ---
__pycache__/
*.py[cod]
*.pyd
*.so
.Python

# Distribución / empaquetado
build/
dist/
downloads/
eggs/
.eggs/
develop-eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos
.venv/
venv/
ENV/
env/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.hypothesis/

# IDE / SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
extract_log.txt

# SQLite / datos temporales
*.sqlite*

# Otros
.python-version

